body {
  margin: 5% 0;

  font-family: "Patua One";
  font-size: 20px;
  line-height: 20px;

  background-color: #222;
  color: #ddd;

  cursor: default;
}

.add-top { margin-top: 40px; }
.add-bottom { margin-bottom: 40px; }

.card-content {
  margin-top: 60%;

  text-align: center;
  color: #333;
}

#card {
  margin: 0 auto 10% auto;
  width: auto;
  height: 100%;
  max-width: 325px;
  max-height: 500px;

  border-radius: 12px;

  background-color: #fcfcfc;
  border: 1px solid white;
  box-shadow: 1px 1px 50px black;

  &.ready {
    .card-content { color: green; }
  }

  .card-content {
    font-size: 6em;

    .extra {
      margin-top: 200px;

      font-size: 1rem;
      color: #333;
    }
  }
}

#card-selection {
  .card-small {
    float: left;
    border-radius: 6px;
    background-color: #fcfcfc;

    width: 65px;
    height: 100px;
    margin: 10px;

    cursor: pointer;

    .card-content {
      font-size: 1em;
    }
  }
}



#results {
  .results {
    margin-bottom: 5%;

    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #555;
    opacity: 0.25;

    &:first-child {
      opacity: 1.0;
    }

    .data {
      margin-top: 0.25em;
      margin-bottom: 0.75em;

      font-size: 3em;
      line-height: 1em;
      color: #ddd;

      i { font-size: 0.75em; }
    }
  }
}