@color-card: #f1f1f1;

body {
  margin: 30px 0;

  font-family: "Patua One";
  font-size: 20px;
  line-height: 20px;

  background-color: #222;
  background-image: url('../img/background.png');
  background-repeat: repeat;
  color: #ddd;

  cursor: default;
}

.add-top { margin-top: 40px; }
.add-bottom { margin-bottom: 40px; }

.card-content {
  margin-top: 60%;

  text-align: center;
  color: #333;
}

#card {
  width: auto;
  max-width: 310px;
  height: 465px;
  margin: 0 auto 15px auto;

  border-radius: 12px;

  background-color: @color-card;
  background-image: url('../img/card.png');
  background-repeat: repeat;
  background-position: center center;
  box-shadow: 1px 1px 50px black;

  .card-content {
    float: left;
    width: 100%;

    font-size: 6em;

    .value {
      float: left;
      width: 100%;
      height: 75px;

      img {
        height: 100px;
        margin-top: -35px;
      }
    }

    .extra {
      float: left;
      width: 100%;
      margin-top: 150px;

      font-size: 1rem;
      color: #333;
    }
  }
}

#card-selection {
  .card {
    float: left;
    width: 100px;
    height: 140px;
    margin: 8px;

    border-radius: 6px;
    background-color: @color-card;
    background-image: url('../img/card.png');
    background-repeat: repeat;
    background-position: center center;

    cursor: pointer;

    .card-content {
      font-size: 1em;
    }

    &.selected {
      background-color: #eeccbb;
    }
  }
}

#people {
  width: 100%;
  height: 75px;

  font-size: 1.5em;
  text-align: center;
}

#results {
  .results {
    margin: 80px 0;

    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #555;
    opacity: 0.25;

    &:first-child {
      opacity: 1.0;
    }

    .data {
      margin-top: 0.25em;
      margin-bottom: 0.75em;

      text-align: center;
      font-size: 3em;
      line-height: 1em;
      color: #ddd;

      i { font-size: 0.75em; }

      .card {
        display: inline;
        margin: 0 10px;

        font-size: 0.4em;
      }
    }
  }
}