<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 hidden-phone">
            <div id="card">
                <div class="card-content">
                    <span class="value" ng-bind-html-unsafe="selected"></span>
                    <div class="extra">Ensiluokkaisia verkkopalveluita.</div>
                </div>
            </div>

            <div id="people" class="data">
                <div ng-repeat="user in room.people" style="display: inline;">
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>

        <div id="info" class="span6">
            <div class="row-fluid">
                <div id="card-selection">
                    <div ng-repeat="card in room.scale" class="card" data-value="{{ card }}" ng-click="select(card)" ng-class="{ selected: selected == card }">
                        <div class="card-content">
                            <span class="value">{{ card }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12"></div>
    </div>

    <div id="results">
        <div ng-repeat="result in room.results" class="results row-fluid">
            <div class="span6">
                Cards

                <div class="data cards">
                    <div ng-repeat="card in result.values" class="card">
                        {{ card }}
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="row-fluid">
                    <div class="span4">
                        Average
                        <div class="data avg">{{ result.avg }}</div>
                    </div>

                    <div class="span4">
                        Minimum
                        <div class="data min">{{ result.min }}</div>
                    </div>

                    <div class="span4">
                        Maximum
                        <div class="data max">{{ result.max }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>